@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #f2f8fe;
}
.title {
  font-family: "Vollkorn", serif;
}
.head {
  font-family: "Arsenal", sans-serif;
}

.heading {
  font-family: "Vidaloka", serif;
}

.body {
  font-family: "Catamaran", sans-serif;
}

.literata {
  font-family: 'Literata', serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.currency-display {
  font-size: 24px;
  margin: 10px;
  animation: countUpAnimation 2s ease-out;
}

.backgroundimage-home{
  background-image: url('/src/components/blockpeg capital/assets/Heroo.png');
  background-size: cover;
}

.backgroundimage-strategic{
  background-image: url('/src/components/blockpeg capital/assets/StrategicHero.png');
  background-size: cover;
}

.backgroundimage-financial{
  background-image: url('/src/components/blockpeg capital/assets/FinancialHero.png');
  background-size: cover;
  width: 100%;
}

.backgroundimage-About{
  background-image: url('/src/components/blockpeg capital/assets/AboutHero.png');
  background-size: cover;
  width: 100%;
}

.backgroundimage-building{
  background-image: url('/src/components/blockpeg capital/assets/buildingblock.png');
  background-size: cover;
  width: 100%;
}
.backgroundimage-decentraland{
  background-image: url('/src/components/blockpeg capital/assets/DecentralandHero.png');
  background-size: cover;
  width: 100%;
}



.eclipse{
  background-image: url('/src/components/blockpeg capital/assets/Ellipse.png');
  background-size: cover;
  width: 100%;
}


@keyframes countUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

