@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: #f2f8fe;
}
.title {
  font-family: "Vollkorn", serif;
}
.head {
  font-family: "Arsenal", sans-serif;
}

.heading {
  font-family: "Vidaloka", serif;
}

.body {
  font-family: "Catamaran", sans-serif;
}

.currency-display {
  font-size: 24px;
  margin: 10px;
  animation: countUpAnimation 2s ease-out;
}

@keyframes countUpAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

